---
import Button from "./atoms/button.astro";
import SocialIcon from "./atoms/SocialIcon.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  address: string;
  addressLink: string;
  hours: string;
  nav?: boolean;
  instagram?: string;
  wechat?: string;
  tel?: string;
  imagePath: ImageMetadata;
  imageTitle: string;
  imageAlt: string;
}

const {
  nav = false,
  title,
  description,
  address,
  addressLink,
  hours,
  instagram,
  wechat,
  tel,
  imagePath,
  imageTitle,
  imageAlt,
} = Astro.props;

const socialLinks = [
  { href: instagram, icon: "instagram", alt: "Instagram" },
  { href: wechat, icon: "wechat", alt: "WeChat" },
  { href: `tel:${tel}`, icon: "phone", alt: "Call" },
].filter((link) => link.href);
---

<article class="grid-cell bg-white shadow-md rounded overflow-hidden h-fit">
  <div class="mb-4">
    <section class="flex flex-col space-y-4 h-max">
      <header class="flex justify-between items-start">
        <h2 class="text-4xl font-bold">{title}</h2>
        <div class="flex gap-2">
          {
            nav &&
              socialLinks.map(({ href, icon, alt }) => (
                <a href={href} class="hover:text-gray-800 transition-colors">
                  <SocialIcon icon={icon} alt={alt} />
                </a>
              ))
          }
        </div>
      </header>

      <section class="space-y-2 pb-4">
        <p class="font-serif">
          <a
            href={addressLink}
            title="Find us on Google Maps"
            class="hover:underline">{address}</a
          >
        </p>
        <p class="font-serif">{hours}</p>

        <p class="font-serif italic">{description}</p>
      </section>
    </section>

    <Image
      src={imagePath}
      alt={imageAlt}
      title={imageTitle}
      class="object-cover self-center rounded"
    />
  </div>

  <nav>
    <slot />
  </nav>
</article>
